*{
    margin: 0;
    padding: 0;
}
.left{
    min-height: 100vh;
    background-color: #222629;
    color: #7b7d7f;
    text-align: right;
    position: fixed;
}
.tM{
    color: azure;
    display: block;
    overflow: hidden;
    width: 100%;
    font-size: 24px;
}
.navbar ul{
    text-align: right;
    display: block;
    margin-top: 20px;
    width: 100%;

}
.navbar ul li{
    align-items: center;
    list-style: none;
    overflow: hidden;
    
}
.navbar ul li a{
    
    text-decoration: none;
    color: #7b7d7f;
    font-size: 20px;
    align-items: center;
    
}
.navbar ul li a:hover{
    color: #fff;
}
.navbar i{
    transform: translate(0,30%);
}
.col2{
    color: #e27689;
}
.active{
    color: #e27689;    
}
.ic{
    color: #7b7d7f;
    font-size: 24px;
    padding: 10px 10px;
}
.ic:hover{
    color:azure;
}
.rightHome{
    background: url(../images/bg.jpg) fixed;
    flex-direction: row;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    color: #fff;

}
.content{
    padding-top: 3%;
}
.intro-container{
    margin: 15% 0;
    color: #fff;
    justify-self: center;
    align-items: center;
}
.introText{
    font-size: 60px;
}
.description{
    font-size: 24px;
}
.imgGallary img:hover{
    transform: scale(1.075);
    border: 5px solid #e27689;
}
.rightAbout{
    background: url(../images/bg.jpg) fixed;
    color: #efefef;
}
.aboutImg{
    transform: translate(0%, -50%);
    overflow: hidden;
}
.about{
    background: #222629;
    margin-top: 10%;
}
.aboutContent{
    transform: translate(0%, -12%);
    overflow: hidden;
}
.info{
    color: #b4b7b9;
}

@media screen and (min-width: 992px) {
    .left{
        height: 100vh;
        overflow: hidden;
    }

}
@media screen and (max-width: 992px) {
    .aboutContent{
        transform: translate(0%, 0%);
        overflow: hidden;
    }
}